.jcarousel-wrapper {
    position: relative;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
}

.jcarousel li {
    width: 400px;
    height: 600;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    border: 1px solid #8f9290;
    color: #8f9290;
    font-size: 60px;
    line-height: 66px;
    text-decoration: none;
    text-align: center;
}

.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
    background-color: #ffcb00;
    color: #000;
}

.jcarousel-control-prev {
    left: -135px;
}

.jcarousel-control-next {
    right: -135px;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: 0.3;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}

.jcarousel-control-prev.inactive:hover,
.jcarousel-control-next.inactive:hover {
    background-color: transparent;
    color: #8f9290;
    border: 1px solid #8f9290;
}
