body {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #8f9290;
}

#carcas {
  width: 100%;
  height: 100%;
}

#carcas div.background-paralax {
  background: url(../images/background.jpg) no-repeat 0 center;
}

.time-line-block {
  min-width: 1000px;
  margin: 0 100px;
  height: 600px;
  position: relative;
  top: 50%;
  border: 1px solid #000;
}

div.time-line-part {
  position: relative;
  padding-top: 300px;
  height: 300px;
}

div.time-line-part div.year {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 60px;
  line-height: 60px;
}

div.time-line-part div.msg-block {
  position: absolute;
  height: 140px;
  width: 340px;
  left: 0;
  top: 80px;
  padding: 15px;
  color: #fff;
}

div.time-line-part div.msg-block div:first-child {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

div.time-line-part div.msg-block div.msg-block-text {
  position: relative;
  font-size: 18px;
  line-height: 22px;
}


div.points-list {
  position: relative;
  height: 1px;
  margin-left: 72px;
  margin-right: 10px;
  font-size: 0;
  background-color: #8f9290;
}

div.points-list div.point {
  background-color: #8f9290;
  position: absolute; 
  z-index: 1;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

div.points-list div.point.small-point {
  width: 7px;
  height: 7px;
  top: -3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

div.points-list div.point.small-point div.point-border {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 0;
  height: 0;
  border: 1px solid #8f9290;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

div.points-list div.point.small-point:hover {
  border-color: #ffcb00;
  background-color: #ffcb00;
}

div.points-list div.point.small-point:hover div.point-border {
  border-color: #ffcb00;
}

div.points-list div.point:first-child {
  width: 60px;
  height: 60px;
  border: 1px solid #8f9290;
  opacity: 0.7;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  margin: -31px 0 0 -72px;
  font-size: 16px;
  background-color: transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

div.points-list div.point p.point-date {
  font-size: 20px;
  line-height: 62px;
  text-align: center;
}

div.points-list div.point p.point-month {
  width: 120px;
  margin-left: -30px;
  font-size: 14px;
  line-height: 62px;
  text-align: center;
  text-transform: uppercase;
}

div.points-list div.points-list-line {
  height: 1px;
  background-color: #8f9290;
  opacity: 0.7;
}



div.points-list div.point div.point-msg {
  display: none;
}







/* animation */
.animated {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 7px;
    height: 7px;
    top: -3px;
    margin-left: 0
  }

  100% {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 11px;
    height: 11px;
    top: -5px;
    margin-left: -2px; 
  }
}

@-webkit-keyframes border_pulse {
  0% {
    left: 3px;
    top: 3px;
    width: 0;
    height: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  90% {
    left: -6px;
    top: -6px;
    width: 21px;
    height: 21px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
  }

  100% {
    opacity: 0.1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);
  }
}

@keyframes pulse {
  0% {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 7px;
    height: 7px;
    top: -3px;
    margin-left: 0
  }

  100% {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 11px;
    height: 11px;
    top: -5px;
    margin-left: -2px; 
  }
}

div.small-point.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

div.small-point.pulse div.point-border {
  -webkit-animation-name: border_pulse;
  animation-name: border_pulse;
}