body {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #8f9290;
}

#carcas {
  width: 100%;
  height: 100%;
}

div.background-paralax {
  position: absolute;
  left: -500px;
  top: 0;
  background: #000 url(../images/background.jpg) no-repeat 0 center;
  width: 3000px;
  height: 100%;
}

.time-line-block {
  min-width: 1000px;
  margin: 0 180px;
  height: 600px;
  position: relative;
  top: 50%;
}

div.time-line-part {
  position: relative;
  padding-top: 300px;
  height: 300px;
}

div.time-line-part div.year {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 60px;
  line-height: 60px;
}

div.time-line-part div.msg-block {
  display: none;
  position: absolute;
  height: 140px;
  width: 340px;
  left: 0;
  top: 80px;
  padding: 15px;
  color: #fff;
}

div.time-line-part div.msg-block div:first-child {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

div.time-line-part div.msg-block div.msg-block-text {
  position: relative;
  font-size: 18px;
  line-height: 22px;
}


div.points-list {
  position: relative;
  height: 1px;
  margin-left: 72px;
  margin-right: 10px;
  font-size: 0;
  background-color: #8f9290;
}

div.points-list div.point {
  position: absolute;
}

div.points-list div.point.small-point {
  width: 7px;
  height: 7px;
  top: -3px;
}

div.points-list div.point.small-point div.point-point {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 0;
  z-index: 1;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
}

div.points-list div.point.small-point div.point-border {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 0;
  height: 0;
  border: 1px solid #8f9290;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

div.points-list div.small-point:hover {
  z-index: 10;
}

div.points-list div.small-point:hover div.point-point {
  background-color: #ffcb00;
}


div.points-list div.small-point:hover div.point-border {
  border-color: #ffcb00;
}





div.points-list div.point.big-point {
  width: 60px;
  height: 60px;
  border: 1px solid #8f9290;
  opacity: 0.7;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  margin: -31px 0 0 -72px;
  font-size: 16px;
  background-color: transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

div.points-list div.point.big-point:hover {
  background-color: #ffcb00;
  color: #000;
  border-color: #000;
}

div.points-list div.point p.point-date {
  font-size: 20px;
  line-height: 62px;
  text-align: center;
}

div.points-list div.point p.point-month {
  width: 120px;
  margin-left: -30px;
  font-size: 14px;
  line-height: 62px;
  text-align: center;
  text-transform: uppercase;
}

div.points-list div.point.big-point:hover p.point-month {
  color: #ffcb00;
}

div.points-list div.point p {
  cursor: default;
}

div.points-list div.points-list-line {
  height: 1px;
  background-color: #8f9290;
  opacity: 0.7;
}



div.points-list div.point div.point-msg {
  display: none;
}

div.points-list div.point div.point-msg-corner {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  left: -12px;
  top: -47px;
  opacity: 0.8;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #000;
}








/* animation */
.animated {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



@-webkit-keyframes pulse {
  0% {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 8px;
    height: 8px;
    top: 0;
    margin-left: 0;
  }

  100% {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 12px;
    height: 12px;
    top: -2px;
    margin-left: -2px; 
  }
}

@keyframes pulse {
  0% {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 8px;
    height: 8px;
    top: 0;
    margin-left: 0
  }

  100% {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 13px;
    height: 13px;
    top: -6px;
    margin-left: -3px; 
  }
}

@-webkit-keyframes border_pulse {
  0% {
    left: 4px;
    top: 4px;
    width: 0;
    height: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  100% {
    left: -11px;
    top: -11px;
    width: 28px;
    height: 28px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
  }



}

div.small-point div.point-point.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

div.small-point div.point-border.border_pulse {
  -webkit-animation-name: border_pulse;
  animation-name: border_pulse;
}